:root {
  --black-primary: rgba(8, 9, 28, 1);
  --black-600: rgba(8, 9, 28, 0.88);
  --black-500: rgba(8, 9, 28, 0.6);
  --black-400: rgba(8, 9, 28, 0.36);
  --black-300: rgba(8, 9, 28, 0.12);
  --black-200: rgba(8, 9, 28, 0.08);
  --black-100: rgba(8, 9, 28, 0.04);
}
