:root {
  --border-secondary: rgba(8, 9, 28, 0.08);
  --border-primary: rgba(8, 9, 28, 0.12);
  --border-focus: rgba(8, 9, 28, 1);
  --border-accent: rgba(151, 71, 255, 1);
  --border-accentHover: rgba(134, 40, 255, 1);
  --border-accentActive: rgba(122, 19, 255, 1);
  --border-critical: rgba(229, 69, 69, 1);
  --largeRadius: 0.5rem;
  --mediumRadius: 6px;
  --smallRadius: 0.25rem;
}
