/* JetBrainsMono Regular */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('@/assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* JetBrainsMono Medium */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('@/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* JetBrainsMono SemiBold */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('@/assets/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* JetBrainsMono Bold */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('@/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* JetBrainsMono ExtraBold */
@font-face {
  font-family: 'JetBrainsMono';
  src: url('@/assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
