:root {
  --purple-800: rgba(122, 19, 255, 1);
  --purple-700: rgba(134, 40, 255, 1);
  --purple-primary: rgba(151, 71, 255, 1);
  --purple-600: rgba(151, 71, 255, 0.88);
  --purple-500: rgba(151, 71, 255, 0.6);
  --purple-400: rgba(151, 71, 255, 0.36);
  --purple-300: rgba(151, 71, 255, 0.14);
  --purple-200: rgba(151, 71, 255, 0.1);
  --purple-100: rgba(151, 71, 255, 0.06);
}
