:root {
  --red-800: rgba(229, 23, 23, 1);
  --red-700: rgba(229, 46, 46, 1);
  --red-primary: rgba(229, 69, 69, 1);
  --red-600: rgba(229, 69, 69, 0.88);
  --red-500: rgba(229, 69, 69, 0.6);
  --red-400: rgba(229, 69, 69, 0.36);
  --red-300: rgba(229, 69, 69, 0.14);
  --red-200: rgba(229, 69, 69, 0.1);
  --red-100: rgba(229, 69, 69, 0.06);
}
