:root {
  --text-primary: rgba(8, 9, 28, 1);
  --text-secondary: rgba(8, 9, 28, 0.6);
  --text-disabled: rgba(8, 9, 28, 0.36);
  --accent: rgba(151, 71, 255, 1);
  --accent-hover: rgba(134, 40, 255, 1);
  --accent-active: rgba(122, 19, 255, 1);
  --accent-Subdued: rgba(151, 71, 255, 0.06);
  --accent-SubduedHover: rgba(151, 71, 255, 0.1);
  --accent-SubduedActive: rgba(151, 71, 255, 0.14);
  --critical: rgba(229, 69, 69, 1);
  --criticalHover: rgba(229, 46, 46, 1);
  --criticalActive: rgba(229, 23, 23, 1);
  --loader: rgb(93, 225, 11);
  --link-bg: rgba(188, 239, 196, 0.286);
  --link-text: rgb(42, 122, 192);
  --link-loader: rgb(57, 130, 12);
  --link-hover-bg: rgba(34, 165, 34, 0.718);
  --bg-grey: rgba(205, 180, 226, 0.9);
}
