@use './reset' as *;
@use './_textVariable.scss' as *;
@use './_borderVariable.scss' as *;
@use './_mixins.scss' as *;
@use './_whiteColor.scss' as *;
@use './_blackColor.scss' as *;
@use './_purpleColor.scss' as *;
@use './_redColor.scss' as *;
@use './fonts' as *;
