@use '@/assets/styles/variables/_mixins' as *;

.Pagination {
  &List {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  &Item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-200);
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
    -webkit-transition: color 0.3s ease, transform 0.3s ease, bac;
    -moz-transition: color 0.3s ease, transform 0.3s ease, bac;
    -ms-transition: color 0.3s ease, transform 0.3s ease, bac;
    -o-transition: color 0.3s ease, transform 0.3s ease, bac;
    &:hover {
      background-color: var(--black-100);
      color: var(--link-text);
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }

  &Link {
    @include PaginationBtn;
    &Active {
      border: none;
      cursor: not-allowed;
      color: var(--link-text);
      padding: 0.5rem 0.8rem;
    }
  }
}
.disabled {
  pointer-events: none;
  color: #999;
}

.Ellipsis {
  padding: 0 8px;
}
