@use '@/assets/styles/variables/_mixins' as *;

.Comments {
  width: 100%;

  &Block {
    margin-bottom: 1rem;
  }

  &Title {
    @include titleH2;
    align-self: start;
  }

  &Form {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &Item {
      width: 100%;
      .ant-input-textarea {
        width: 100% !important;
      }
    }
  }

  &Button {
    @include Btn;
    align-self: flex-start;
    background-color: var(--link-text);

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.9;
        transform: scale(1.02);
      }
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &Block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--bg-grey);
    border-radius: var(--largeRadius);
    width: 100%;
  }
}

.userComment {
  width: 100%;
}

.CommentActions {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.BtnWrapper {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
  width: 100%;
  flex-wrap: wrap;

  .ant-btn {
    min-width: 100px;
    padding: 4px 8px;
    font-size: 14px;
  }
}

@media screen and (max-width: 610px) {
  .Comments {
    width: 100% !important;
    padding: 0 0.5rem;
  }

  .CommentsForm {
    width: 100%;
  }

  .CommentsFormItem {
    width: 100%;
  }

  .ant-input-textarea {
    width: 100% !important;
  }
}
