@use '@/assets/styles/variables/_mixins' as *;

:root {
  --transitionVar: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.Header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &Search {
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Links {
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &Filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    &Title {
      @include titleH5;
      color: var(--text-secondary);
      font-weight: 500;
    }
  }
  &Navbar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    border-radius: var(--largeRadius);
    & li {
      @include paragraph1;
      text-decoration: none;
      color: var(--text-secondary);
      font-weight: 600;
      padding: 0.5rem;
      cursor: pointer;
      transition: var(--transitionVar);
      -webkit-transition: var(--transitionVar);
      -moz-transition: var(--transitionVar);
      -ms-transition: var(--transitionVar);
      -o-transition: var(--transitionVar);
      &:hover {
        color: var(--link-text);
        background-color: var(--link-bg);
        border-radius: var(--largeRadius);
      }
    }
  }
  .FavoriteLink {
    @include paragraph1;
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 600;
    transition: var(--transitionVar);
    -webkit-transition: var(--transitionVar);
    -moz-transition: var(--transitionVar);
    -ms-transition: var(--transitionVar);
    -o-transition: var(--transitionVar);

    &:hover {
      color: var(--link-text);
      transform: scale(1.05);
    }
  }
  .FavoriteLinkActive {
    @include paragraph1;
    text-decoration: none;
    color: var(--purple-primary);
    cursor: default;
    font-weight: 600;
  }

  .active {
    color: var(--bg-accentHover);
    background-color: var(--white-500);
  }
}

.HeaderFilterPrice {
  display: flex;
  gap: 1rem;
}

.resetBtnWrapper {
  padding: 16px;
  border-top: 1px solid #f0f0f0;
}

@media screen and (max-width: 610px) {
  .HeaderContainer {
    flex-direction: column;
  }
  .HeaderLinks {
    padding-bottom: 0;
  }
  .HeaderSearch {
    align-self: center;
    margin-bottom: 0.5rem;
  }
}
