.Footer {
  padding: 4px 0;
  width: 100vw;
  height: 2.3rem;
  background-color: var(--black-500);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-600);
  &Text {
    text-align: center;
  }
}
