@use '@/assets/styles/variables/variable.scss' as *;
@use '@/assets/styles/variables/_mixins' as *;

body {
  max-width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'JetBrainsMono', monospace;
  background-color: var(--bg-secondary);
  margin: 0 auto;
  overflow-x: hidden;
}
