@use '@/assets/styles/variables/_mixins' as *;

.CardInfo {
  @include Wrapper;

  &Header {
    text-align: center;
    gap: 1rem;
  }

  &Title {
    @include titleH2;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--text-secondary);
    margin: 0;
  }

  &Rating {
    margin: 8px 0;
    color: var(--black-600);
    font-size: 14px;
  }
  &Back {
    @include ButtonReset;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    justify-content: center;
    @include paragraph2;
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 600;
    @include TransitionBase;
    border-radius: var(--largeRadius);
    -webkit-border-radius: var(--largeRadius);
    -moz-border-radius: var(--largeRadius);
    -ms-border-radius: var(--largeRadius);
    -o-border-radius: var(--largeRadius);

    &:hover {
      color: var(--purple-600);
    }
  }

  &BtnWrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
  }

  &Quantity {
    color: var(--text-secondary);

    &Error {
      color: var(--red-primary);
    }

    &Rating {
      @include paragraph4;
    }
  }

  &CartControls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  &AddToCart {
    align-self: start;
    @include titleH3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    @include ButtonReset;
    @include TransitionBase;

    &:hover {
      color: var(--accent-active);
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
  }

  &Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &Description {
    @include paragraph2;
    text-align: left;
    color: var(--text-secondary);
    line-height: 1.5;
  }

  &Block {
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &Text {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    @include paragraph2;
    text-align: left;
    color: var(--text-secondary);
    line-height: 1.5;
  }

  &Image {
    width: 350px;
    height: auto;
  }

  &BtnEdit {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: var(--red-400);
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease, fill 0.3s ease;
    -webkit-transition: color 0.3s ease, fill 0.3s ease;
    -moz-transition: color 0.3s ease, fill 0.3s ease;
    -ms-transition: color 0.3s ease, fill 0.3s ease;
    -o-transition: color 0.3s ease, fill 0.3s ease;

    &:hover {
      color: var(--red-500);
    }

    &:focus-visible {
      outline: none;
      border-radius: 4px;
      outline: 2px solid var(--accent-hover);
      outline-offset: 2px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    svg {
      fill: currentColor;
    }

    &Active {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      padding: 0;
      border: none;
      cursor: pointer;
      background-color: transparent;
      color: var(--red-700);
      fill: var(--red-700);
    }
  }
}

.error {
  @include titleH2;
  color: var(--red-primary);
  text-align: center;
}

.loading {
  @include titleH2;
  color: var(--loader);
  text-align: center;
}

@media screen and (max-width: 998px) {
  .CardInfo {
    padding: 1.5rem;
    &Header {
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 610px) {
  .CardInfo {
    &Title {
      font-size: 1.5rem;
    }
    &Back {
      order: -1;
      margin-bottom: 1rem;
    }
  }
}
